.add-constraint-button, .delete-tracker-button, .toggle-summary-button{
    margin-top:20px;
    margin-left:30px;
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 20px;
    background: rgb(255, 81, 0);
    color: white;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    border: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: inherit;
    font-weight: 600;
    height: 36px;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px 6px;
    position: relative;
  
    text-overflow: ellipsis;

    vertical-align: middle;
    white-space: nowrap;
}

.add-delete-tracker-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-tracker-button{
    background: darkred;
    margin-right:30px;
}

.constraint-summary.hidden{
    display: none;
}

.summary-title{
    margin-top: 25px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 16px;
    text-decoration:underline;
    color: #343739;
    text-transform: uppercase;
}