.summary-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
}

.indiv-chart{
    padding-top: 25px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}